alpaca-py==0.43.4
annotated-types==0.7.0
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
msgpack==1.1.2
numpy==2.2.6
pandas==2.3.3
pydantic==2.13.3
pydantic_core==2.46.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
requests==2.33.1
six==1.17.0
sseclient-py==1.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
websockets==16.0
